.main {
  margin-top: 50px;
  display: grid;
  grid-template-areas:
    "img map map"
    "li map map";
  grid-gap: 10px;
}
.main li {
  list-style: none;
}

.div_img {
  grid-area: img;
}

.div_img img {
  box-shadow: 0 0 20px 7px rgb(109, 113, 116);
  border: 2px solid #616163;
  border-radius: 20px;
}

.div_li {
  text-align: start;
  padding: 20px;
  grid-area: li;
  box-shadow: 0 0 20px 7px rgb(109, 113, 116);
  border: 2px solid #616163;
  border-radius: 20px;
}

.div_map {
  grid-area: map;
  box-shadow: 0 0 20px 7px rgb(109, 113, 116);
  border: 2px solid #616163;
}
