.container {
  margin-left: 20px;
}

.likeUser {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.likeUser img {
  height: calc(30px + 1vmin);
  box-shadow: 0 0 10px 1px rgb(68, 70, 73);
  border: 2px solid #616163;
  border-radius: 50%;
}
.img {
  margin: 5px 25px 0 25px;
}
